

div {
    height: 20rem;
    width: 20rem;
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
        border-radius: 30%;
        position: relative;
}

span {
    content: '';
    border: 1rem solid #fff;
    border-radius: 100%;
    width: 0;
    height: 0;
    left: 0;
    right: 5rem;
    position: absolute;
    margin: auto;
    top: 5rem;




}